In [6]:
# importing libraries
import pandas as pd
import numpy as np
import os
import pickle

### Question 3 ) importing orders_products_combined dataframe

In [72]:
# importing orders_products_combined datafram 
path = r'/Users/monajafizada/Documents/DataAnalytics/Project'
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'PreparedData','orders_products_combined.pkl'))

### Question 4) checking the shape of the data

In [8]:
# checking the number of rows and column of the data
df_orders_products_combined.shape

(32434489, 11)

### Question 5 ) Combining the "order_products_combined" with "wrangled product data set"

In [43]:
#importing prods_consistencycheck.csv
df_prods_Cleaned = pd.read_csv(os.path.join(path, '02 Data', 'PreparedData', 'prods_consistencycheck.csv'))

In [44]:
# checking the number of rows and column of the data
df_prods_Cleaned.shape

(49693, 6)

In [45]:
# checking product ID datatype
df_prods_Cleaned.dtypes

Unnamed: 0         int64
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [46]:
# checking product ID datatype
df_orders_products_combined.dtypes

order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [49]:
# droppomg the column "Unnamed: 0" from the data
df_prods_Cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [54]:
df_prods_Cleaned = df_prods_Cleaned.drop(columns = ['Unnamed: 0'])

In [55]:
df_prods_Cleaned.head(1)

   product_id                product_name  aisle_id  department_id  prices
0           1  Chocolate Sandwich Cookies        61             19     5.8

In [48]:
# we can see that both dataframe have product_ID in commmon 
df_orders_products_combined.head(1)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both

In [64]:
# Merging the " df_orders_products_combined" and "df_prods_Cleaned " as " df_merged_prods_ords" without using the indicator 
df_merged_prods_ords = df_orders_products_combined.merge(df_prods_Cleaned, on = 'product_id' )

In [59]:
df_merged_prods_ords.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [60]:
df_merged_prods_ords.shape

(32434212, 15)

### Question 6 ) using merge Flag

In [71]:
# using merge flad to find out entries with both values 
df_merged_prods_ords['_merge'].value_counts()

both          32434212
right_only           0
left_only            0
Name: _merge, dtype: int64

### Question 7 ) exporting the data

In [74]:
# exporting " df_merged_prods_ords" as "orders_products_merged" as pkl
df_merged_prods_ords.to_pickle(os.path.join(path,'02 Data', 'PreparedData','orders_products_merged.pkl'))