# Sourcing Open Data

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path 
path = r'/Users/monajafizada/Documents/DataAnalytics/A6 advanced analytics and dashboard design/Project Information'

### Data 1

In [89]:
# importing Covid data of deaths by sex, age and states
Covid_Deaths_by_sex_age_States = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'COVID-19_Death_Counts_by_Sex__Age__and_State.csv'), index_col = False)

In [90]:
Covid_Deaths_by_sex_age_States.shape

(1416, 7)

In [91]:
# looking for missing value 
Clean_1 = Covid_Deaths_by_sex_age_States.isnull().sum()

In [92]:
Clean_1

Data as of           0
Start week           0
End Week             0
State                0
Sex                  0
Age group            0
COVID-19 Deaths    278
dtype: int64

In [93]:
# addressing missing values
Covid_Deaths_by_sex_age_States.describe()

       COVID-19 Deaths
count      1138.000000
mean       1048.084359
std        7531.272179
min           0.000000
25%           0.000000
50%          34.000000
75%         263.500000
max      149192.000000

In [35]:
# replacing missing value 
Covid_Deaths_by_sex_age_States['COVID-19 Deaths'].fillna(1048.084359, inplace=True)

In [79]:
# finding duplicated values
dop = Clean_1[Clean_1.duplicated()]

In [80]:
dop

Start week         0
End Week           0
State              0
Sex                0
Age group          0
COVID-19 Deaths    0
dtype: int64

### Data 2

In [5]:
# importing Covid data of USA by cities
Covid_USA_City = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'covid_19_usa_city.csv'), index_col = False)

In [15]:
Covid_USA_City.shape

(9660, 11)

In [43]:
Covid_USA_City.head()

,City,Total Cases,New Cases,Total Deaths,New Deaths,Active Cases,Total Cases /1M pop,Deaths /1M pop,Total Tests,Tests /1M pop,Date
0,New York,188694,7550.000000,9385.0,758,162220,9618.0,478.0,461601.0,"23,529",04-12-2020
1,New Jersey,61850,3699.000000,2350.0,167,58818,6964.0,265.0,126735.0,"14,269",04-12-2020
2,Michigan,23993,597.950107,1392.0,,22158,2410.0,140.0,76014.0,"7,634",04-12-2020
3,Massachusetts,22860,597.950107,686.0,,21445,3347.0,100.0,108776.0,"15,926",04-12-2020
4,Pennsylvania,22833,1029.000000,507.0,6,21676,1785.0,40.0,124890.0,"9,764",04-12-2020

In [25]:
# looking for missing value 
Covid_USA_City.isnull().sum()

City                      0
Total Cases               0
New Cases              4990
Total Deaths             20
New Deaths                0
Active Cases              0
Total Cases /1M pop    1288
Deaths /1M pop         1290
Total Tests             387
Tests /1M pop          1288
Date                      0
dtype: int64

In [36]:
Covid_USA_City.describe()

,Total Cases,New Cases,Total Deaths,Total Cases /1M pop,Total Tests
count,9660.000000,4670.000000,9640.000000,8372.000000,9.273000e+03
mean,59007.056315,597.950107,2200.081950,9117.790373,7.561917e+05
std,107659.478924,1150.095437,4626.932336,7587.737257,1.385831e+06
min,3.000000,1.000000,1.000000,265.000000,0.000000e+00
25%,5169.750000,70.000000,104.000000,2646.750000,8.530700e+04
50%,20046.500000,278.500000,551.000000,6940.500000,2.861000e+05
75%,64365.250000,700.000000,2108.000000,14114.500000,8.172700e+05
max,819524.000000,15300.000000,33246.000000,35715.000000,1.470520e+07

In [38]:
# replacing missing value 
Covid_USA_City['New Cases'].fillna(597.950107, inplace=True)

In [39]:
Covid_USA_City['Total Deaths'].fillna(59007.056315, inplace=True)

In [40]:
Covid_USA_City['Total Cases /1M pop'].fillna(9117.790373, inplace=True)

In [45]:
Covid_USA_City['Total Tests'].fillna(756191.7, inplace=True)

In [ ]:
# finding duplicated values
df[df.duplicated()]

### Data 3

In [6]:
# importing Covid data of all country
Covid_country = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'covid_country.csv'), index_col = False)

In [16]:
Covid_country.shape

(34932, 14)

In [26]:
# looking for missing value 
Covid_country.isnull().sum()

Country                   0
Total Cases               0
New Cases             16951
Total Deaths              0
New Deaths            23741
Total Recovered        1010
Active Cases            500
Serious/Critical      13668
Total Cases/1M pop      310
Deaths /1M pop         4967
Total Tests            4166
Tests /1M pop          4166
Continent               310
Date                      0
dtype: int64

In [44]:
Covid_country.describe()

,Total Cases,New Cases,New Deaths,Total Recovered,Active Cases,Serious/Critical,Total Cases/1M pop,Deaths /1M pop,Total Tests,Tests /1M pop
count,3.493200e+04,17981.000000,11191.000000,3.392200e+04,3.443200e+04,21264.000000,34622.000000,29965.000000,3.076600e+04,3.076600e+04
mean,1.320151e+05,2072.050442,93.290591,8.539562e+04,4.178150e+04,894.676637,2494.602863,83.832219,1.086689e+06,6.706455e+04
std,1.222447e+06,13099.944475,422.380157,8.427015e+05,3.695752e+05,5369.876694,4689.434209,167.426666,5.792908e+06,1.638406e+05
min,1.000000e+00,1.000000,1.000000,1.000000e+00,-6.840000e+02,1.000000,0.030000,0.020000,1.000000e+01,4.000000e+00
25%,2.730000e+02,15.000000,2.000000,1.270000e+02,4.200000e+01,4.000000,138.000000,4.000000,1.000000e+04,4.507250e+03
50%,2.133500e+03,104.000000,6.000000,1.114500e+03,5.580000e+02,17.000000,619.000000,18.000000,8.312750e+04,1.921550e+04
75%,1.858925e+04,520.000000,27.000000,9.844500e+03,4.773250e+03,124.000000,2878.750000,71.000000,4.484055e+05,6.238150e+04
max,3.414980e+07,317951.000000,7716.000000,2.542227e+07,7.709313e+06,66596.000000,44789.000000,1326.000000,1.600000e+08,2.656757e+06

In [46]:
# replacing missing value 
Covid_country['New Cases'].fillna(2072.050442, inplace=True)

In [47]:
Covid_country['New Deaths'].fillna(93.290591, inplace=True)

In [48]:
Covid_country['Total Recovered'].fillna(85395.62, inplace=True)

In [49]:
Covid_country['Active Cases'].fillna(41781.50, inplace=True)

In [50]:
Covid_country['Serious/Critical'].fillna(894.676637, inplace=True)

In [51]:
Covid_country['Total Cases/1M pop'].fillna(2494.602863, inplace=True)

In [52]:
Covid_country['Deaths /1M pop'].fillna(83.832219, inplace=True)

In [53]:
Covid_country['Total Tests'].fillna(1086689., inplace=True)

In [54]:
Covid_country['Tests /1M pop'].fillna(67064.55, inplace=True)

In [ ]:
# finding duplicated values
df[df.duplicated()]

### Data 4

In [7]:
# importing general Covid data 
Covid_Data = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'C19_data.csv'), index_col = False)

In [17]:
Covid_Data.shape

(116805, 8)

In [27]:
# looking for missing value 
Covid_Data.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     35353
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [55]:
Covid_Data.describe()

                 SNo     Confirmed         Deaths     Recovered
count  116805.000000  1.168050e+05  116805.000000  1.168050e+05
mean    58403.000000  1.908217e+04     777.745473  1.117002e+04
std     33718.843434  5.825465e+04    2859.184068  6.258701e+04
min         1.000000  0.000000e+00       0.000000  0.000000e+00
25%     29202.000000  2.450000e+02       3.000000  4.000000e+00
50%     58403.000000  2.148000e+03      42.000000  4.260000e+02
75%     87604.000000  1.037400e+04     331.000000  3.829000e+03
max    116805.000000  1.242770e+06   42072.000000  2.670256e+06

In [ ]:
# addressinf missing value = no action was taken

In [76]:
# finding duplicated values
Covid_Data[Covid_Data.duplicated()]

Empty DataFrame
Columns: [SNo, ObservationDate, Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered]
Index: []

### Data 5

In [81]:
# importing general Covid data of the world
Covid_open_line = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'C19_open_line_list.csv'), index_col = False)

In [82]:
Covid_open_line.shape

(13174, 33)

In [83]:
# looking for missing value
Clean_5 = Covid_open_line.isnull().sum()

In [84]:
Clean_5

ID                              1
age                         11825
sex                         11910
city                         2980
province                      268
country                        26
wuhan(0)_not_wuhan(1)           4
latitude                       27
longitude                      27
geo_resolution                 27
date_onset_symptoms         12428
date_admission_hospital     12444
date_confirmation              85
symptoms                    12681
lives_in_Wuhan              12609
travel_history_dates        12671
travel_history_location     12416
reported_market_exposure    13139
additional_information      10762
chronic_disease_binary      13156
chronic_disease             13161
source                        224
sequence_available          13173
outcome                     12990
date_death_or_discharge     13081
notes_for_discussion        12987
location                    12150
admin3                      12015
admin2                       4106
admin1                        297
country_new                    95
admin_id                       71
data_moderator_initials     13157
dtype: int64

In [86]:
Covid_open_line.describe()

,ID,wuhan(0)_not_wuhan(1),latitude,longitude,chronic_disease_binary
count,13173.000000,13170.0,13147.000000,13147.000000,18.000000
mean,6769.250436,1.0,31.994650,110.495353,0.722222
std,3920.886020,0.0,7.536335,27.985144,0.460889
min,1.000000,1.0,-37.813600,-124.953070,0.000000
25%,3351.000000,1.0,27.905380,111.729600,0.250000
50%,6865.000000,1.0,31.759410,115.441800,1.000000
75%,10180.000000,1.0,35.781340,120.440400,1.000000
max,13479.000000,1.0,69.649468,153.400000,1.000000

In [57]:
# replacing missing value 
Covid_open_line['wuhan(0)_not_wuhan(1)'].fillna(1.0, inplace=True)

In [58]:
Covid_open_line['latitude'].fillna(31.994650, inplace=True)

In [59]:
Covid_open_line['longitude'].fillna(110.495353, inplace=True)

In [60]:
Covid_open_line['chronic_disease_binary'].fillna(0.722222, inplace=True)

In [ ]:
# some missing values were addressed as above - other missing values no action were taken against them

In [87]:
# finding duplicated values
dup = Clean_5[Clean_5.duplicated()]

In [88]:
dup

longitude         27
geo_resolution    27
dtype: int64

### Data 6

In [9]:
# importing Covid data of US confrimed cases
TS_US_Confirmed = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_confirmed_US.csv'), index_col = False)

In [19]:
TS_US_Confirmed.shape

(3340, 257)

In [29]:
# looking for missing value
TS_US_Confirmed.isnull().sum()

UID         0
iso2        0
iso3        0
code3       0
FIPS       10
           ..
9/19/20     0
9/20/20     0
9/21/20     0
9/22/20     0
9/23/20     0
Length: 257, dtype: int64

In [61]:
TS_US_Confirmed.describe()

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
count,3.340000e+03,3340.000000,3330.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,...,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,0.000299,0.000299,0.000599,0.000599,0.001497,...,1962.171257,1973.755090,1985.045210,1998.326647,2013.153593,2026.382934,2037.369461,2052.959281,2064.735928,2075.912575
std,4.315345e+06,36.498055,18638.940791,9.062922,21.718982,0.017303,0.017303,0.024467,0.024467,0.038668,...,8319.200452,8351.395482,8380.369559,8418.624752,8454.172733,8492.156622,8525.587151,8611.415788,8641.438968,8667.723099
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.500000,33.895587,-97.790204,0.000000,0.000000,0.000000,0.000000,0.000000,...,94.000000,94.750000,96.000000,98.000000,101.000000,103.000000,103.750000,105.000000,106.000000,109.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,0.000000,0.000000,0.000000,0.000000,0.000000,...,323.500000,324.500000,329.000000,332.500000,338.500000,345.000000,349.000000,352.000000,354.500000,362.000000
75%,8.404612e+07,840.000000,47130.500000,41.573069,-82.311265,0.000000,0.000000,0.000000,0.000000,0.000000,...,1052.000000,1055.500000,1070.250000,1082.000000,1094.000000,1112.250000,1124.000000,1132.250000,1139.250000,1153.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,254656.000000,255049.000000,256148.000000,257271.000000,258516.000000,259817.000000,260797.000000,261446.000000,262133.000000,263333.000000

In [62]:
# replacing missing value 
TS_US_Confirmed['FIPS'].fillna(33061.684685, inplace=True)

In [ ]:
# finding duplicated values
df[df.duplicated()]

### Data 7

In [10]:
# importing Covid data of Time series by confirmed cases
TS_Confirmed = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_confirmed.csv'), index_col = False)

In [20]:
TS_Confirmed.shape

(266, 250)

In [30]:
# looking for missing value
TS_Confirmed.isnull().sum()

Province/State    185
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64

In [63]:
TS_Confirmed.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.076624,22.829441,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.184211,...,1.100551e+05,1.111201e+05,1.122630e+05,1.134410e+05,1.146599e+05,1.157171e+05,1.166240e+05,1.177477e+05,1.184853e+05,1.194731e+05
std,24.904600,70.191330,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524674,...,5.774877e+05,5.831820e+05,5.891235e+05,5.953081e+05,6.017349e+05,6.076737e+05,6.126599e+05,6.179729e+05,6.207083e+05,6.252483e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.677575,-15.277675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.675000e+02,4.682500e+02,4.682500e+02,4.707500e+02,4.707500e+02,4.707500e+02,4.707500e+02,4.710000e+02,4.710000e+02,4.715000e+02
50%,22.820850,20.921188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.397000e+03,3.459000e+03,3.466000e+03,3.522500e+03,3.608000e+03,3.714500e+03,3.772000e+03,3.823500e+03,3.895000e+03,4.138000e+03
75%,41.143200,77.913685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.553900e+04,3.580200e+04,3.599400e+04,3.639525e+04,3.670825e+04,3.731275e+04,3.781650e+04,3.826325e+04,3.862650e+04,3.869575e+04
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,6.553652e+06,6.592342e+06,6.630051e+06,6.674411e+06,6.723933e+06,6.768119e+06,6.804814e+06,6.856884e+06,6.896218e+06,6.933548e+06

In [ ]:
# no action was taken for the missing value in Province and state column

In [67]:
# finding duplicated values
TS_Confirmed[TS_Confirmed.duplicated()]

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 250 columns]

### Data 8

In [11]:
# importing Covid data of Times series by US deaths
TS_US_deaths = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_deaths_US.csv'), index_col = False)

In [21]:
TS_US_deaths.shape

(3340, 258)

In [31]:
# looking for missing value
TS_US_deaths.isnull().sum()

UID         0
iso2        0
iso3        0
code3       0
FIPS       10
           ..
9/19/20     0
9/20/20     0
9/21/20     0
9/22/20     0
9/23/20     0
Length: 258, dtype: int64

In [64]:
TS_US_deaths.describe()

,UID,code3,FIPS,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
count,3.340000e+03,3340.000000,3330.000000,3340.000000,3340.000000,3.340000e+03,3340.0,3340.0,3340.0,3340.0,...,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,9.966039e+04,0.0,0.0,0.0,0.0,...,58.231437,58.617066,58.911078,59.171557,59.452096,59.665269,59.733234,59.839820,60.115569,60.444311
std,4.315345e+06,36.498055,18638.940791,9.062922,21.718982,3.242549e+05,0.0,0.0,0.0,0.0,...,309.680770,310.413623,311.105264,311.619894,312.225599,312.610693,312.860382,313.095656,313.712918,314.416568
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000e+00,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.500000,33.895587,-97.790204,9.928500e+03,0.0,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,2.491100e+04,0.0,0.0,0.0,0.0,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,6.000000,6.000000
75%,8.404612e+07,840.000000,47130.500000,41.573069,-82.311265,6.499800e+04,0.0,0.0,0.0,0.0,...,23.000000,23.250000,24.000000,24.000000,24.000000,24.000000,24.000000,24.250000,25.000000,25.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.003911e+07,0.0,0.0,0.0,0.0,...,7306.000000,7309.000000,7311.000000,7312.000000,7314.000000,7315.000000,7318.000000,7318.000000,7319.000000,7319.000000

In [65]:
# replacing missing value 
TS_US_deaths['FIPS'].fillna(33061.684685, inplace=True)

In [ ]:
# finding duplicated values
df[df.duplicated()]

In [ ]:
# finding duplicated values
df[df.duplicated()]

### Data 9

In [12]:
# importing Covid data of Time series by deaths
TS_deaths = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_deaths.csv'), index_col = False)

In [22]:
TS_deaths.shape

(266, 250)

In [32]:
# looking for missing value
TS_deaths.isnull().sum()

Province/State    185
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64

In [ ]:
# no action was taken for the missing value in province and state column

In [ ]:
# finding duplicated values
df[df.duplicated()]

### Data 10

In [13]:
# importing Covid data of Time series by recovered cases
TS_recovered = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_recovered.csv'), index_col = False)

In [23]:
TS_recovered.shape

(253, 250)

In [33]:
# looking for missing value
TS_recovered.isnull().sum()

Province/State    186
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64

In [ ]:
# # no action was taken for the missing value in province and state column

In [70]:
# finding duplicated valuesTS_recovered[TS_recovered.duplicated()]

In [ ]:
# finding duplicated values
df[df.duplicated()]